div.cont{
    max-width:1900px ;
    min-width: 1280px;
    margin: auto;
}
div.container1{
    background: linear-gradient(purple,blue);
    height: 600px;
}
div.topline {
    height: 100px;
    margin: 0px 100px 0px 300px;
}
div.logo {
    display: inline-block;
}
div.logo img{
    margin-top: 30px;
    height: 40px;
}
body{
    margin: 0px;
}
div.menu{
    font-size:18px ;
    text-align: center;
    word-spacing: 25px ;
    display: inline-block;
    margin-left: 300px;
    color: white;
    font-style: italic;
    text-decoration: none;
}

a{
    color: white;
    text-decoration: none;
}

div.impeop{
    height: 320px;

    margin: 100px 165px 0px 300px;
    background: url("img/bloki2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;/*положение  фоновой картинки*/
    position: relative;

}
div.text1{
    font-size: 12px;
    margin-top:20px;
    color: white;
}
div.t1{
    font-size: 45px;
    font-weight: bold;
    color: white;
}
div.move{
    position: absolute;
    top: 60px;
}
div.submit{
    border-radius: 20px;
    background-color: coral;
    text-align: center;
    vertical-align: 20px;
    width: 125px;
    height: 40px;
    margin-top: 40px;

}
p.read{

    text-align: center;
    color: white;
    font-weight: bold;
    font-size: medium;
}
div.block{
    width: 260px;
    height: 160px;
    background-color: coral;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px -10px  black;
    margin-top: -50px;
    margin-left: 290px;
}
div.text2{
position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: white;
  top: 30px;
    margin-left: 47px;
    margin-right: 48px;
}
div.text3{
    position: absolute;
    top: 70px;
    opacity: 40%;
    color: white;
    margin-left: 60px;
    margin-right: 61px;
}
div.container2{
    position: relative;
}
.form input{
    margin-top: 100px;
    margin-left: 40px;
    position: absolute;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}
div.img-twopeop{
    position: relative;
}
div.img-twopeop img{
    position: absolute;
}
div.img-twopeop img.peop{
    margin-top: 200px;
    margin-left: 200px;
}